<div>ログイン</div>

<%= form_with(url: create_sessions_path, data: { turbo: false },  local: true, method: :post) do |f| %>
  <%= f.label :email, "Email" %>
  <%= f.email_field :email, class: "form_box" %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password, class: "form_box" %>

  <%= f.submit "ログイン", class: "btm" %>
<% end %>

<%= link_to "アカウントを作成する", signup_path %>