<h2>ユーザーログイン</h2>

<%= form_with(scope: :session, url: create_sessions_path, local: true) do |f| %>
  <%= f.label :email, "Email" %>
  <%= f.email_field :email, class: "form_box" %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password, class: "form_box" %>

  <%= f.submit "ログイン", class: "btm" %>
<% end %>