<div id="display_flex">
  <div class="sidebar">
    <ul>
      <% @memos.reverse.each do |memo| %>
        <%= link_to memo_path(memo) do %>
          <li>
            <% if memo.title.blank? %>
              <div style="padding-top: 30px;"></div>
            <% else %>
              <div class="memos_title"><%= memo.title %></div>
            <% end %>

            <% if memo.description.blank? %>
              <div style="padding-top: 20px;"></div>
            <% else %>
              <div class="memos_description"><%= memo.description %></div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <% if @selected_memo %>
      <%= form_with model: @selected_memo do |f| %>
        <%= f.text_field :title, placeholder: "タイトル", class: "memos_text_field" %>
        <%= f.text_area :description, placeholder: "本文", class: "memos_text_area" %>
        <%= f.submit "更新", class: "" %>
      <% end %>
      <%= button_to "削除", memo_path(@selected_memo.id), method: :delete, class: "" %>
    <% else %>
      <%= form_with model: @memo_new, method: :post do |f| %>
        <%= f.text_field :title, placeholder: "タイトル", class: "memos_text_field" %>
        <%= f.text_area :description, placeholder: "本文", class: "memos_text_area" %>
        <%= f.submit "作成", class: "" %>
      <% end %>
    <% end %>
  </div>
</div>
