<%= javascript_import_module_tag "memos_index" %>

<div id="display_flex">
  <div class="sidebar">
    <%= link_to "新規", memos_path, id: "create_new" %>

    <%= form_with url: search_memos_path, class: "search_form", method: :get, local: true do |f| %>
      <%= f.text_field :word, placeholder: "検索", class: "search_box" %>
    <% end %>

    <ul id="scrollbar">
      <% @memos.reverse.each do |memo| %>
        <li class="<%= 'current_memo' if memo.id == @memo_id %>">
          <%= link_to memo_path(memo) do %>
            <% if memo.title.blank? %>
              <div style="padding-top: 30px;"></div>
            <% else %>
              <div class="memos_title"><%= memo.title %></div>
            <% end %>

            <% if memo.description.blank? %>
              <div style="padding-top: 20px;"></div>
            <% else %>
              <div class="memos_description"><%= memo.description %></div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <% if @selected.present? %>
      <%= form_with model: @selected, local: true do |f| %>
        <%= f.text_field :title, placeholder: "タイトル", class: "memos_text_field" %>
        <%= f.text_area :description, placeholder: "概要", class: "memos_text_area" %>
        <%= f.submit "更新", class: "update_button" %>
      <% end %>
      <%= button_to "削除", memo_path(@selected.id), method: :delete, class: "delete_button" %>
    <% else %>
      <%= form_with model: @memo_new, method: :post, local: true do |f| %>
        <%= f.text_field :title, placeholder: "タイトル", class: "memos_text_field" %>
        <%= f.text_area :description, placeholder: "概要", class: "memos_text_area" %>
        <%= f.submit "作成", class: "create_button" %>
      <% end %>
    <% end %>
  </div>
</div>
