<div id="display_flex">
  <div class="sidebar">    
    <%= form_with url: search_path, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "検索", class: "search-box" %>
      <%= f.submit "検索", class: "btn" %>
    <% end %>

    <ul>
      <% @memos.reverse.each do |memo| %>
        <%= link_to memo_path(memo) do %>
          <li>
            <% if memo.title.blank? %>
              <div style="padding-top: 30px;"></div>
            <% else %>
              <div class="memos_title"><%= memo.title %></div>
            <% end %>

            <% if memo.description.blank? %>
              <div style="padding-top: 20px;"></div>
            <% else %>
              <div class="memos_description"><%= memo.description %></div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <% unless @selected_memo == 0 %>
      <%= form_with model: @selected_memo do |f| %>
        <%= f.text_field :title, placeholder: "タイトル", class: "memos_text_field" %>
        <%= f.text_area :description, placeholder: "概要", class: "memos_text_area" %>
        <%= f.submit "更新", class: "update_button" %>
      <% end %>
      <%= button_to "削除", memo_path(@selected_memo.id), method: :delete, class: "delete_button" %>
    <% else %>
      <%= form_with model: @memo_new, method: :post do |f| %>
        <%= f.text_field :title, placeholder: "タイトル", class: "memos_text_field" %>
        <%= f.text_area :description, placeholder: "概要", class: "memos_text_area" %>
        <%= f.submit "作成", class: "create_button" %>
      <% end %>
    <% end %>
  </div>
</div>
