<!DOCTYPE html>
<html>
  <head>
    <title>easy-app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: 0;">
    <div class="wrapper header-color">
      <div class="container flex-between">
 
        <div class="header-right">
          <% if @user.nil? %>
            <%= link_to "ログイン", new_sessions_path, method: :get %>
          <% else %>
            ログインユーザー：<%= @user.name %>さん
            <%= link_to "ログアウト", destroy_sessions_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
