<!DOCTYPE html>
<html>
  <head>
    <title>EasyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper header">
      <div id="container">
      <%= link_to "MemoApp", root_path, id: "app_name" %>
        <div id="login_button">
          <% if controller_name == 'memos' %>
            <%= @user.name %>
            <%= link_to "ログアウト", destroy_sessions_path, id: "logout_button", data: { turbo_method: :delete } %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="notice">
      <%= render "layouts/notice" %>
    </div>
    
    <%= yield %>
  </body>
</html>
