<!DOCTYPE html>
<html>
  <head>
    <title>EasyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper header_color">
      <div class="container">
        <h1>MemoApp</h1>
      </div>
    </div>

    <div id="notice">
      <%= render "layouts/notice" %>
    </div>

    <div class="wrapper">
      <div class="container">
        <% if session[:user_id].nil? %>
          <%= link_to "ログイン", new_sessions_path, method: :get %>
        <% else %>
          <%= link_to "ログアウト", destroy_sessions_path, data: { turbo_method: :delete } %>

        <% end %>
      </div>
    </div>
    
    <%= yield %>
  </body>
</html>
